<!-- <a class="btn btn-danger" href="/notes/<%= @note.id %>/edit">Edit</a> -->

<table class="table table-striped" style="width: 300px">
  <tr>
    <td>Title</td>
    <td>Text</td>
    <td></td>
  </tr>
  <tr>
    <td>Note</td>
    <td><%= @note.text %></td>
    <td><%= link_to "Edit", edit_folder_note_path, class: "btn btn-danger" %></td>
  </tr>
</table>
